<h1>Adding to menu</h1>


<form>
    <label>Enter the name of the dish</label>
    <div>
        <input type="text" placeholder="title of the dish" id="name">
    </div>


    <label>Enter the wholesale price</label>
    <div>
        <input type="text" placeholder="wholesale price" id="wholesalePrice">
    </div>
    <label>Enter the retail price</label>
    <div>
        <input type="text" placeholder="retail price" id="retailPrice">
    </div>
    <label>Enter the stock quantity</label>
    <div>
        <input type="text" placeholder="stock quantity" id="stockQty">
    </div>


    </div>
    <a href="/add-menu"><button type="submit" class="btn btn-info" id="add">Save and continue</button></a>
    <a href="/tables"><button type="submit" class="btn btn-info" id="submit">Finish</button></a>
    <a href="/api/menu">Menu API</a>

</form>
<div class="container">
    <div class="row">
    </div>
</div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-menu.js"></script>