<div class='center'>
    <form>
        <lable>
            Add a new category
        </lable>
        <input type="text" id="category">
    </form>
</div>
<a href="/add-categories"><button type="submit" class="btn btn-info" id="add">Save and continue</button></a>
<a href="/tables"><button type="submit" class="btn btn-info" id="submit">Finish</button></a>
<a href="/api/categories">CATEGORIES API</a>


<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-category.js"></script>