<h2>Floor plan</h2>

<div class="flex-wrap">
    {{#each tables }}

    <a href="/food-menu" class="tables">
        <div>
            <p value="{{guestQty}}">{{tableNumber}}</p>
        </div>
    </a>

    {{/each}}

</div>