<div class='center'>
    <form>
        <h2>
            Add a new employee
            </h3>
            <div>
                <label>Enter an employees name</label>
                <input type="text" placeholder="Type in name" id="name">
            </div>
            <div>
                <label>Create a password</label>
                <input type="password" placeholder="Type password" id="password">
            </div>

    </form>
</div>
<a href="/add-employees"><button type="submit" class="btn btn-info" id="add">Save and continue</button></a>
<a href="/tables"><button type="submit" class="btn btn-info" id="submit">Finish</button></a>
<a href="/api/employees">EMPLOYEES API</a>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-employees.js"></script>