<div class="middle-screen">
    <div>
        <a href="/add-menu">
            <button class="btn btn-outline-light waves-effect big-btns">Menu</button>
        </a>
    </div>
    <div>
        <a href="/add-tables">
            <button class="btn btn-outline-light waves-effect big-btns">Tables</button>
        </a>
    </div>
    <div>
        <a href="/add-categories">
            <button class="btn btn-outline-light waves-effect big-btns">Categories</button>
        </a>
    </div>

    <div>
        <a href="/food">
            <button class="btn btn-outline-light waves-effect big-btns">Food</button>
        </a>
    </div>
    <div>
        <a href="/drinks">
            <button class="btn btn-outline-light waves-effect big-btns">Drinks</button>
        </a>
    </div>

    <div>
        <a href="/add-employees">
            <button class="btn btn-outline-light waves-effect big-btns">Employees</button>
        </a>
    </div>
</div>