<div class="middle-screen">
    <div>
        <a href="/add-menu">
            <button class="btn btn-info center top-margin big-btns ">Menu</button>
        </a>
    </div>
    <div>
        <a href="/add-tables">
            <button class="btn btn-info center top-margin big-btns ">Tables</button>
        </a>
    </div>
    <div>
        <a href="/add-categories">
            <button class="btn btn-info center top-margin big-btns in-progress">Categories</button>
        </a>
    </div>

    <div>
        <a href="/food">
            <button class="btn btn-info center top-margin big-btns in-progress">Food</button>
        </a>
    </div>
    <div>
        <a href="/drinks">
            <button class="btn btn-info center top-margin big-btns in-progress">Drinks</button>
        </a>
    </div>

    <div>
        <a href="/add-employees">
            <button class="btn btn-info center top-margin big-btns in-progress">Employees</button>
        </a>
    </div>
</div>