<div class="middle-screen">
    <a href="/categories">
        <button class="btn btn-info center top-margin big-btns ">Categories</button>
    </a>
</div>
<div>
    <a href="/food">
        <button class="btn btn-info center top-margin big-btns ">Food</button>
    </a>
</div>

<div>
    <a href="/drinks">
        <button class="btn btn-info center top-margin big-btns ">Drinks</button>
    </a>
</div>

<div>
    <a href="/add-tables">
        <button class="btn btn-info center top-margin big-btns ">Tables</button>
    </a>
</div>

<div>
    <a href="/employees">
        <button class="btn btn-info center top-margin big-btns ">Employees</button>
    </a>
</div>