<h2>Add tables to your restaurant</h2>

<form>
    <lable>
        Enter table number
    </lable>
    <input type="numbers" class="table-input" id="tableNumber">
    <lable>
        Enter guest quantity
    </lable>
    <input type="number" class="guest-count" id="guestQty">

</form>

<a href="/add-tables"><button type="submit" id="save" class="btn btn-info">Save and continue</button></a>
<a href="/tables"><button type="submit" id="finish" class="btn btn-info">Finish</button></a>
<a href="/api/tables">Table API</a>
<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>

<!--JavaScript-->
<script src="./js/add-tables.js"></script>